{% extends 'layouts/base.html' %}

{% block mapAssets %}
{# overriding mapAssets from digital-land-frontend #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% if design_code_rule.design_code %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('base.index')
    },
    {
      'text': "Design code",
      'href': url_for('base.design_codes')
    },
    {
      'text': design_code_rule.design_code.name,
      'href': url_for('base.design_code', reference=design_code_rule.design_code.reference)
    },
    {
      'text': design_code_rule['name'] if design_code_rule['name'] else design_code_rule['reference']
    }
  ]
}) }}
{% else %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('base.index')
    },
    {
      'text': "Design code rules",
      'href': url_for('base.design_code_rules')
    },
    {
      'text': design_code_rule.name
    }
  ]
}) }}
{% endif %}

{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Design code rule</span>
    <h1 class="govuk-heading-xl">{{ design_code_rule['name'] if design_code_rule['name'] else design_code_rule['reference'] }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="app-summary-card govuk-!-margin-bottom-9 app-summary-card--parent">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Belongs to
        </h2>
      </header>
      <div class="app-summary-card__body">
        <p class="govuk-body govuk-!-margin-bottom-0">This rule is defined in the <a href="{{ url_for('base.design_code', reference=design_code_rule.design_code.reference)}}" class="govuk-link">{{ design_code_rule.design_code.name }}</a></p>
      </div>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0" id="related-links">
        Related
      </h2>
      <p class="govuk-hint govuk-!-font-size-14">Explore this library</p>
      <nav role="navigation" aria-labelledby="related-links">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="{{url_for('base.design_codes')}}">Find Design Codes</a>
          </li>
          <li>
            <a class="govuk-link" href="{{url_for('base.design_code_rules')}}">Find design code rules</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="app-summary-card">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Design code rule details
        </h2>
      </header>
      <div class="app-summary-card__body">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference</dt>
            <dd class="govuk-summary-list__value">{{design_code_rule.reference}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">{{design_code_rule.name}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Description</dt>
            <dd class="govuk-summary-list__value">
              {% if design_code_rule.description %}
              {{ design_code_rule.description}}
              {% else %}
              <span class="govuk-hint">no description provided</span>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Categories</dt>
            <dd class="govuk-summary-list__value">
              {% if design_code_rule.design_code_rule_categories %}
              <ul class="govuk-list govuk-list--bullet">
                {% for category in design_code_rule.design_code_rule_categories %}
                <li><a href="{{ url_for('base.design_code_rules', category=category) }}" class="govuk-link">{{ category }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Organisation</dt>
            <dd class="govuk-summary-list__value">{{design_code_rule.organisation_id}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Documentation URL</dt>
            <dd class="govuk-summary-list__value">
              {% if design_code_rule.documentation_url %}
              <a class="govuk-link"
              href="{{design_code_rule.documentation_url}}">{{design_code_rule.documentation_url}}</a>
              {% endif %}
            </dd>
          </div>
        </dl>
      </div>
    </section>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="app-summary-card govuk-!-margin-top-6">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Design code areas
        </h2>
      </header>
      <div class="app-summary-card__body">
        {% if has_specific_areas %}
        <p class="govuk-body">This code applies to the following areas:</p>
        {% else %}
        <div class="app-missing-item govuk-!-margin-bottom-3">
          <p class="govuk-body">No specific areas provided.</p>
          <p class="govuk-body">So rule COULD apply to any area found in the {{ design_code_rule.design_code.name }}.</p>
        </div>
        {% endif %}

        {% if bounding_box %}
        {%- set map_id = "map-423" %}
        <div class="app-map-wrapper">
          <div id="{{ map_id }}" style="height: 400px;">
        </div>
        <script>
          const AppMap = {}
          AppMap.mapID = '{{map_id}}';
          AppMap.geography = {
            'featureCollection': {{geojson | tojson}},
            'centrePoint': {
              'lat': {{ coords["lat"] }},
              'long': {{ coords["long"] }}
            }
          }
        </script>
        {% else %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Geojson for this area not available.
          </strong>
        </div>
        {% endif %}
      </div>
    </section>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
{% include 'partials/area-map-script.html' %}
{% endblock pageScripts %}
