{% extends 'layouts/base.html' %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{%- from "components/pagination/macro.jinja" import appPagination %}

{% block beforeContent %}
{{ super() }}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('base.index')
    },
    {
      'text': "Design code rules"
    }
  ]
}) }}
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Design code rules</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    {% include 'partials/design-code-rule-facets.html' %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-results-summary">
      {% set count = design_code_rules|count %}
      <h2 class="app-results-summary__title">Showing {{ count }} design code rules</h2>
      <hr class="govuk-section-break--m">
      <ul class="govuk-list">
        {% for design_code_rule in design_code_rules %}
        <li class="govuk-!-margin-bottom-4 app-list-item">
          <div class="app-list-item__header">
            <h3 class="govuk-heading-s app-list-item__title">
              <a href="{{url_for('base.design_code_rule', reference=design_code_rule.reference)}}" class="govuk-link">
                {{design_code_rule.name if design_code_rule.name else design_code_rule.reference-}}
              </a>
            {% if design_code_rule.name %}
            <span class="govuk-!-font-size-16 govuk-hint"> ({{ design_code_rule.reference }})</span>
            {% endif %}
            </h3>
          </div>
          <div class="app-list-item__content">
            <p class="govuk-!-font-size-16">
              From: <a href="{{ url_for('base.design_code', reference=design_code_rule.design_code.reference) }}" class="govuk-link govuk-link--text-colour">{{ design_code_rule.design_code.name }}</a>
            </p>
            {% if design_code_rule.design_code_rule_categories %}
            <p class="govuk-!-font-size-16">
              Categories: {% for category in design_code_rule.design_code_rule_categories %}
              <a href="{{ url_for('base.design_code_rules', category=category) }}" class="govuk-link govuk-link--text-colour">{{ category }}</a>
              {{- '' if loop.last else ", "}}{% endfor %}
            </p>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% if count == 0 %}
      <p class="govuk-body dl-secondary-text">No design code rules for this search.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
