{% extends 'layouts/base.html' %}

{% block mapAssets %}
{# overriding mapAssets from digital-land-frontend #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
{% endblock %}

{% block beforeContent %}
{{ super() }}
<a href="{{ url_for('base.design_codes') }}" class="govuk-back-link">Back to design code list</a>
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Design code</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="app-summary-card">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Design code
        </h2>
      </header>
      <div class="app-summary-card__body">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference</dt>
            <dd class="govuk-summary-list__value">{{design_code.reference}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">{{design_code.name}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Organisation</dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="https://www.planning.data.gov.uk/entity/{{organisation.organisation}}">{{ organisation.name }}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Design code status</dt>
            <dd class="govuk-summary-list__value">{{design_code.json["design-code-status"]}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Documentation URL</dt>
            <dd class="govuk-summary-list__value"><a class="govuk-link"
                href="{{design_code.json["document-url"]}}">{{design_code.json["document-url"]}}</a></dd>
          </div>
        </dl>
      </div>
      <div class="app-summary-card__footer">
        <p class="govuk-body govuk-!-font-size-14">Entity <a href="https://www.planning.data.gov.uk/entity/{{ design_code['entity'] }}" class="govuk-link">{{ design_code['entity'] }}</a> from <a href="https://www.planning.data.gov.uk/" class="govuk-link govuk-link--text-colour">planning.data.gov.uk</a>.</p>
      </div>
    </section>
  </div>
  <div class="govuk-grid-column-one-third">

    <div class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0" id="view-the-data">
        Download data
      </h2>
      <p class="govuk-hint govuk-!-font-size-14">You can download this record as</p>
      <nav role="navigation" aria-labelledby="view-the-data">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link"
              href="#geojson">GeoJSON</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="app-summary-card govuk-!-margin-top-6">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Design code areas
        </h2>
      </header>
      <div class="app-summary-card__body">
      {%- if design_code_areas|length %}
        <p class="govuk-body">This design code applies to the following areas.</p>
        {%- set map_id = "map-123" %}
        <p class="govuk-hint govuk-!-margin-top-0">Area(s): {% for area in design_code_areas %}
          <a class="govuk-link govuk-link--text-colour" href="{{url_for('base.design_code_area', entity=area.entity)}}">{{ area['reference']}}</a>{{ "" if loop.last else ', ' }}
        {% endfor %}
         </p>
        <div class="app-map-wrapper">
          <div id="{{ map_id }}" style="height: 400px;">
        </div>
        <script>
          const AppMap = {}
          AppMap.mapID = '{{map_id}}';
          AppMap.geography = {
            'featureCollection': {{geojson | tojson}},
            'centrePoint': {
              'lat': {{ coords["lat"] }},
              'long': {{ coords["long"] }}
            }
          }
        </script>
      {%- else %}
        <p class="govuk-hint govuk-!-margin-bottom-0">There are currently no areas where this deisgn code is applied.</p>
      {% endif -%}
      </div>
    </section>
  </div>
</div>
{% endblock content %}

{% block pageScripts %}
<script>
  let map = L.map(AppMap.mapID).setView([AppMap.geography.centrePoint.lat, AppMap.geography.centrePoint.long], 6);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'OSM' }).addTo(map)
  var boundary_layer = L.geoJSON(AppMap.geography.featureCollection, {}).addTo(map)
  const bbox = {{ bounding_box | tojson }}
  map.fitBounds([[bbox[1], bbox[0]], [bbox[3], bbox[2]]])
</script>
{% endblock pageScripts %}
