{% extends 'layouts/base.html' %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{%- from "components/pagination/macro.jinja" import appPagination %}

{% block beforeContent %}
{{ super() }}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('base.index')
    },
    {
      'text': "Design codes"
    }
  ]
}) }}
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Design code library</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <!-- <form action="{{url_for('base.index')}}" class="govuk-form" method="GET">
      <h3 class="govuk-heading-m">Search</h3>
      <div class="govuk-form-group">
        <label class="govuk-label" for="design_code_reference">
          Design code reference
        </label>
        <input class="govuk-input" id="design_code_reference" name="design_code_reference"
          type="text">
      </div>
      <div class="govuk-button-group">
        {{ govukButton({
        "text": "Search"
        }) }}
        <a href="{{ search_form_url }}" class="govuk-link">Clear</a>
      </div>
    </form> -->
    {% include 'partials/design-code-facets.html' %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-results-summary">
      {% set count = design_codes|count %}
      <h2 class="app-results-summary__title">Showing {{ count }} design codes</h2>
      <div class="app-applied-filters">
      {% if query_params.keys()|length %}
        {% for filter_type, filter in query_params.items() %}
        <div class="app-applied-filter__group">
          <span class="app-applied-filter__name govuk-!-font-weight-bold">{{ filter.name }}:</span>
          {% for v in filter.selection %}
          <span class="app-applied-filter__item">{{ v }}</span>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="app-applied-filter__group">
          <p class="app-applied-filter__cancel"><a href="{{ url_for('base.design_codes') }}" class="govuk-link">Clear all filters</a></p>
        </div>
      {% endif %}
      </div>

      <ul class="govuk-list">
        {% for design_code in design_codes %}
        <li class="govuk-!-margin-bottom-3 app-list-item">
          <div class="app-list-item__header">
            <h3 class="govuk-heading-s app-list-item__title">
              <a href="{{url_for('base.design_code', reference=design_code.reference)}}"
              class="govuk-link">{{design_code.name}}</a>
            </h3>
            <div class="app-list-item__header__flags">
            {% if design_code.design_code_status %}
            <span class="govuk-tag govuk-tag--blue">{{ design_code.design_code_status|capitalize }}</span>
            {% endif %}
            </div>
          </div>
          {% if design_code.description %}
          <p class="govuk-body govuk-!-font-size-16">{{ design_code.description }}</p>
          {% else -%}
          <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-0">No description for this design code</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% if count == 0 %}
      <p class="govuk-body dl-secondary-text">No design codes for this search.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
