{% extends 'layouts/base.html' %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{%- from "components/pagination/macro.jinja" import appPagination %}

{% block beforeContent %}
{{ super() }}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('base.index')
    },
    {
      'text': "Design codes"
    }
  ]
}) }}
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Design code rules</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    {% include 'partials/design-code-rule-facets.html' %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-results-summary">
      {% set count = design_code_rules|count %}
      <h2 class="app-results-summary__title">Showing {{ count }} design codes</h2>
      <hr class="govuk-section-break--m">
      <ul class="govuk-list">
        {% for design_code_rule in design_code_rules %}
        <li class="govuk-!-margin-bottom-3">
          <a href="{{url_for('base.design_code', entity=design_code.entity)}}"
            class="govuk-link">{{design_code_rule.reference}}</a>
          <span class="govuk-!-font-size-16">- {{ design_code_rule.name }}</span>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full"><span class="govuk-hint govuk-!-font-size-16">
              {{ design_code_rule.json["description"] }}</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% if count == 0 %}
      <p class="govuk-body dl-secondary-text">No design code rules for this search.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
