{% extends 'layouts/base.html' %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{%- from "components/pagination/macro.jinja" import appPagination %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Index of design codes &amp; design code areas</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="{{ url_for('base.design_codes') }}" class="govuk-link">Index of design codes</a></li>
      <li><a href="{{ url_for('base.design_code_areas') }}" class="govuk-link">Index of design code areas</a></li>
    </ul>

  </div>
</div>

{% endblock content %}
