{% extends 'layouts/base.html' %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Find a design code</h1>

    <p class="govuk-body">This library contains a set of Design Codes collected by the Office for Place. It is a proof of concept demonstrating what can be done if authors of Design Codes make data that follows the Design Code Standard and publish the data openly.</p>

    <h3 class="govuk-heading-m">I want to find a Design Code</h3>

    <p class="govuk-body">If you are looking for a Design Code containing a set of design code rules authored by a specific planning authority we recommend having a look at the set of Design Codes.</p>

    <p class="govuk-body">
      <a href="{{ url_for('base.design_codes') }}" class="govuk-button">Find Design Code</a>
    </p>

    <h3 class="govuk-heading-m">I want to find a design code rule</h3>

    <p class="govuk-body">If you are looking for a design code rules covering a specific topic we recommend looking at the set of design code rules and filtering by category.</p>

    <p class="govuk-body">
      <a href="{{ url_for('base.design_code_rules') }}" class="govuk-button">Find design code rule</a>
    </p>
  </div>
</div>

{% endblock content %}
