{% extends 'layouts/base.html' %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{%- from "components/pagination/macro.jinja" import appPagination %}

{% block mapAssets %}
  {# overriding mapAssets from digital-land-frontend #}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBreadcrumbs({
    'items': [
      {
      'text': "Home",
      'href': url_for('base.index')
      },
      {
        'text': "Map of design code areas"
      }
    ]
  })
}}
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Design code library</span>
    <h1 class="govuk-heading-l">Map of design code areas</h1>

    <p class="govuk-body">Showing {{ design_code_areas|length }} design code areas.</p>
    <p class="govuk-body">These are a combination of areas covering a whole Design Code and more specific areas where certain rules apply.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="app-map-wrapper">
      <div id="mapid" style="height: 600px;"></div>
      <script>
        const AppMap = {}
        AppMap.mapID = 'mapid';
        AppMap.geography = {
          'featureCollection': {{ geojson | tojson }},
          'centrePoint': {
            'lat': {{ coords["lat"] }},
            'long': {{ coords["long"] }}
          }
        }
      </script>
      <ul class="app-map__key">
        <li class="app-map__key__item app-map__key__item--old">Old design code areas</li>
        <li class="app-map__key__item">New design code areas</li>
        <li class="app-map__key__item app-map__key__item--industrial">Design code area type = industrial area</li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">

    <div class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0" id="related-links">
        Related
      </h2>
      <p class="govuk-hint govuk-!-font-size-14">Explore this library</p>
      <nav role="navigation" aria-labelledby="related-links">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="{{url_for('base.design_codes')}}">Find Design Codes</a>
          </li>
          <li>
            <a class="govuk-link" href="{{url_for('base.design_code_rules')}}">Find design code rules</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
{% include 'partials/area-map-script.html' %}
{% endblock pageScripts %}
