<script>
  colours = {
    'HSG2 western parcel': { 'color': '#505a5f' },
    'HSG2 eastern parcel': { 'color': '#505a5f' },
    'BL6': { 'color': '#505a5f' },
    'BL7': { 'color': '#505a5f' },
    'BL8': { 'color': '#505a5f' },
    'BL9': { 'color': '#505a5f' },
    'BL10': { 'color': '#505a5f' },
    'E07000134': { 'color': '#505a5f' },
    'E10000002': { 'color': '#505a5f' },
    'industrial-area': { 'color': '#d9bc00' },
  }

  function onEachFeature(feature, layer) {
    const heading = feature.properties["name"] ? feature.properties["name"]:feature.properties["reference"]
    props = "<div class='app-map-popup'>"
    props += "<h3 class='app-map-popup__heading govuk-!-margin-bottom-1'>" + heading + "</h3>"
    props += "<div class='app-map-popup__content'>"
    props += "<p>Reference: <a href='/design-code-area/" + feature.properties["reference"] + "'>" + feature.properties["reference"] + "</a></p>"
    if ('design-code-rules' in feature.properties) {
      const rules = feature.properties['design-code-rules'].split(";")
      props += "<p>" + rules.length + " rules apply to this area.</p>"
    }
    props += "</div>"
    if ('design-code' in feature.properties) {
      props += "<div class='app-map-popup__footer'>"
      props += "<p>See <a href='/design-code/" + feature.properties['design-code'] +"'>design code</a> where this area was defined.</p>"
      props += "</div>"
    }
    props += "</div>"
    layer.bindPopup(props)
  }

  function setStyle(feature) {
    reference = feature.properties["reference"]
    if (reference in colours) {
      return { "color": colours[reference].color };
    }
    if ('design-code-area-type' in feature.properties) {
      if (feature.properties['design-code-area-type'] in colours) {
        return { "color": colours[feature.properties['design-code-area-type']].color };
      }
    }
    return { "color": "#1d70b8" }
  }

  let map = L.map(AppMap.mapID).setView([AppMap.geography.centrePoint.lat, AppMap.geography.centrePoint.long], 6);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'OSM' }).addTo(map)
  var boundary_layer = L.geoJSON(AppMap.geography.featureCollection, { onEachFeature: onEachFeature, style: setStyle }).addTo(map)
  const bbox = {{ bounding_box | tojson }}
  map.fitBounds([[bbox[1], bbox[0]], [bbox[3], bbox[2]]])
</script>
