{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from 'components/filter-checkboxes/macro.jinja' import dlFilterCheckboxes %}
{%- from "components/filter-group/macro.jinja" import dlFilterGroup %}

<form action="{{ filter_url }}" class="govuk-form" method="GET">
  <h3 class="govuk-heading-s">Filter</h3>

  {% include 'partials/organisation-filter.html' %}
  {% include 'partials/design-code-characteristic-filter.html' %}
  {% include 'partials/design-code-rule-category-filter.html' %}

  <div class="govuk-button-group">
    {{ govukButton({
      "text": "Filter"
    }) }}
    <a href="{{ filter_url }}" class="govuk-link">Clear</a>
  </div>

</form>
