<!-- filter by design code status -->
<div class="govuk-form-group">
  {% call dlFilterGroup({
    "title": "Contains rule of type",
    "is_open": True,
    "selected": 0
  }) %}
  {% set pa_checked = request.args.getlist("category") %}
  <div class="govuk-checkboxes">
    {% for category in design_code_rule_categories %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="category-{{ category['reference'] }}" name="category" type="checkbox" value="{{ category['reference'] }}" {% if category['reference'] in pa_checked %}checked=checked{% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="category-{{ category['reference'] }}">
        {{ category['name'] }}
      </label>
    </div>
    {% endfor %}
  </div>
  {% endcall %}
</div>
