<!-- filter by design code status -->
<div class="govuk-form-group">
  {% set checkboxesHTML %}
    {% set pa_checked = request.args.getlist("category") %}
    {% for category in design_code_rule_categories %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="category-{{ category['reference'] }}" name="category" type="checkbox" value="{{ category['reference'] }}" {% if category['reference'] in pa_checked %}checked=checked{% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="category-{{ category['reference'] }}">
        {{ category['name'] }}
      </label>
    </div>
    {% endfor %}
  {% endset %}

  {% call dlFilterGroup({
    "title": "Contains rule of type",
    "is_open": True,
    "selected": 0
  }) %}
    {{- dlFilterCheckboxes({
      "uniqueID": "5556766",
      "checkboxesHTML": checkboxesHTML
    }) -}}
  {% endcall %}
</div>
