<!-- filter by publishing organisation -->
<div class="govuk-form-group">
  {% set checkboxesHTML %}
    {% set pa_checked = request.args.getlist("organisation") %}
    {% for org in organisations %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="organisation-{{ org['reference'] }}" name="organisation" type="checkbox" value="{{ org['organisation'] }}" {% if org['organisation'] in pa_checked %}checked=checked{% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="organisation-{{ org['reference'] }}">
        {{ org['name'] }}
      </label>
    </div>
    {% endfor %}
  {% endset %}

  {% call dlFilterGroup({
    "title": "Organisation",
    "is_open": True,
    "selected": 0
  }) %}

  {{ dlFilterCheckboxes({
    "uniqueID": "167824",
    "checkboxesHTML": checkboxesHTML
  }) }}
  {% endcall %}
</div>
