{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from 'components/filter-checkboxes/macro.jinja' import dlFilterCheckboxes %}
{%- from "components/filter-group/macro.jinja" import dlFilterGroup %}

<form action="{{ filter_url }}" class="govuk-form" method="GET">
  <h3 class="govuk-heading-s">Filter</h3>

  <!-- categoryfacet -->
  <div class="govuk-form-group">
    {% call dlFilterGroup({
      "title": "Local authority",
      "is_open": True,
      "selected": 0
    }) %}
    {% set pa_checked = request.args.getlist("organisation") %}
    <div class="govuk-checkboxes">
      {% for org in organisations %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-{{ org['reference'] }}" name="organisation" type="checkbox" value="{{ org['reference'] }}" {% if org['reference'] in pa_checked %}checked=checked{% endif %}>
        <label class="govuk-label govuk-checkboxes__label" for="organisation-{{ org['reference'] }}">
          {{ org['name'] }}
        </label>
      </div>
      {% endfor %}
    </div>
    {% endcall %}
  </div>


  <div class="govuk-button-group">
    {{ govukButton({
      "text": "Filter"
    }) }}
    <a href="{{ filter_url }}" class="govuk-link">Clear</a>
  </div>

</form>
