// import all digital land and GOVUK Frontend scss
@import "digital-land-frontend/dl-frontend";

// app specific component scss
@import "components/pagination";
@import "components/search-results";
@import "components/summary-card";



// tag styles from latest govuk version
.govuk-tag {
  @include govuk-font($size: 19);
  margin-top: -2px;
  margin-bottom: -3px;

  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  text-transform: unset;
}


.govuk-tag--blue {
  color: govuk-shade(govuk-colour("blue"), 60%);
  background-color: govuk-tint(govuk-colour("blue"), 70%);
}

.govuk-tag--light-blue {
  color: govuk-shade(govuk-colour("blue"), 60%);
  background-color: govuk-tint(govuk-colour("blue"), 90%);
}

.app-list-item__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.app-list-item__title {
  margin-bottom: 5px;
}

.app-list-item__header__flags {
  justify-content: right;
  text-align: right;
}

.app-list-item__content {
  p:first-child {
    margin-top: 0;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.app-rule-list__secondary-content {
  margin-top: 5px;
  margin-bottom: 10px;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.app-missing-item {
  display: inline-block;
  margin: 5px 0;
  padding: 5px 10px 5px 15px;
  border-left: 4px solid govuk-colour("yellow");
  color: govuk-shade(govuk-colour("yellow"), 65%);

  & *:last-child {
    margin-bottom: 0;
  }
}
